name: Deploy via ftp
on: push
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: FTP Deploy Locaweb
      uses: locaweb/ftp-deploy@1.0.0
      with:
        server: ${{ secrets.FTP_SERVER }}  # Use o segredo do servidor FTP
        username: ${{ secrets.FTP_USERNAME }}  # Use o segredo do nome de usuário FTP
        password: ${{ secrets.FTP_PASSWORD }}  # Use o segredo da senha FTP
        local-dir: ./build  # Diretório local a ser enviado (pode ser o diretório de produção ou build)
        remote-dir: /public_html  # Diretório remoto no servidor FTP onde os arquivos serão enviados
