name: Deploy to FTP

on:
  push:
    branches:
      - main  # O workflow será disparado quando houver um push no branch main

jobs:
  deploy:
    runs-on: ubuntu-latest  # O GitHub usará uma máquina Ubuntu para executar o job

    steps:
    - name: Checkout code
      uses: actions/checkout@v3  # Faz o checkout do código no repositório

    - name: Deploy to FTP server
      uses: locaweb/ftp-deploy@1.0.0 # Ação para enviar arquivos via FTP
      with:
        host: ${{ secrets.FTP_SERVER }}  # Substitui 'server' por 'host'
        user: ${{ secrets.FTP_USERNAME }}  # Substitui 'username' por 'user'
        password: ${{ secrets.FTP_PASSWORD }}  # Mantém 'password'
        localDir: ./build  # Substitui 'local-dir' por 'localDir'
        remoteDir: /public_html  # Substitui 'remote-dir' por 'remoteDir'
